# Archivos de compilación
bin/
obj/

# Archivos de configuración de Visual Studio
.vs/
.vscode/

# Archivos de configuración específicos de MSBuild
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de variables de entorno
.env
.env.local
.env.*.local
appsettings.Development.json

# Archivos generados que no son necesarios
*.log
*.cache

